<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/admin/homepage.css" />
    <title>Danilo Store</title>
  </head>
  <body>
    <header>
      <h2>Admin</h2>
      <a href="/admin/logout" class="logout-btn">Logout</a>
    </header>
    <main>
      <h2>Dashboard</h2>
      <div class="admin-links">
        <a href="/admin/createadmin" class="admin-link"> create admin</a>
        <a href="/admin/createproduct" class="admin-link"> create product</a>
        <a href="/admin/updateproduct" class="admin-link">update product</a>
        <a href="/admin//updateimage" class="admin-link"
          >update product image</a
        >
        <a href="/admin/checkproduct" class="admin-link"> check product</a>
        <a href="/admin/checkorders" class="admin-link"> check orders </a>
        <a href="/admin/checkuser" class="admin-link"> check users</a>
      </div>
    </main>
  </body>
</html>
