<header>
  <h2>Danilo Store</h2>
  <div class="dropdown">
    <button class="dropbtn">category</button>
    <div class="dropdown-content">
      <a href="">cat 1</a>
      <a href="">cat 2</a>
      <a href="">cat 3</a>
      <a href="">cat 4</a>
    </div>
  </div>
  <div class="user">
    <h5>user</h5>
  </div>
</header>
